body {
    font-family: arial, sans-serif;
}

.err {
    padding: 10px 20px;
    background-color: orangered;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form div {
    padding: 10px;
}

input {
    font-size: 14px;
}

.btn {
    padding: 10px 20px;
}

#info {
    line-height: 40px;
}

#search {
    margin-top: 10px;
    width: 90%;
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

#results .item {
    width: 256px;
    height: 256px;
    margin: 10px;
}